@import "tailwindcss";
@import "tw-animate-css";

/* For dark mode */
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* LIGHT THEME */
:root {
  --radius: 0.625rem;

  --background: #ffffff;
  --foreground: #1e293b;

  --card: #ffffff;
  --card-foreground: #1e293b;

  --popover: #ffffff;
  --popover-foreground: #1e293b;

  --primary: #2563eb;
  --primary-foreground: #f8fafc;

  --secondary: #f1f5f9;
  --secondary-foreground: #0f172a;

  --muted: #f8fafc;
  --muted-foreground: #64748b;

  --accent: #e2e8f0;
  --accent-foreground: #1e293b;

  --destructive: #ef4444;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #3b82f6;

  --sidebar: #ffffff;
  --sidebar-foreground: #1e293b;
  --sidebar-primary: #2563eb;
  --sidebar-primary-foreground: #f8fafc;
  --sidebar-accent: #f1f5f9;
  --sidebar-accent-foreground: #0f172a;
  --sidebar-border: #e2e8f0;
  --sidebar-ring: #3b82f6;
}

/* DARK THEME */
.dark {
  --background: #0f172a;
  --foreground: #f8fafc;

  --card: #1e293b;
  --card-foreground: #f8fafc;

  --popover: #1e293b;
  --popover-foreground: #f8fafc;

  --primary: #3b82f6;
  --primary-foreground: #f8fafc;

  --secondary: #334155;
  --secondary-foreground: #e2e8f0;

  --muted: #334155;
  --muted-foreground: #94a3b8;

  --accent: #475569;
  --accent-foreground: #f8fafc;

  --destructive: #f87171;
  --border: #475569;
  --input: #475569;
  --ring: #60a5fa;

  --sidebar: #1e293b;
  --sidebar-foreground: #f8fafc;
  --sidebar-primary: #3b82f6;
  --sidebar-primary-foreground: #f8fafc;
  --sidebar-accent: #334155;
  --sidebar-accent-foreground: #f8fafc;
  --sidebar-border: #475569;
  --sidebar-ring: #60a5fa;
}

/* GLOBAL BASE LAYER */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
